body {
  padding: 2% 5%;
  font: 16px "Arial", sans-serif;
  background: #eee;
}

a {
  color: #3333ff;
  text-decoration: underline;
  cursor: pointer;
}

.header {
  padding: 12px 0;
  font: 48px "Arial", serif;
  font-weight: bolder;
  margin: 0 0 30px 0;
  border-bottom: 1px dotted #000;
  text-shadow: #fff 0 0 2px;
}

.box {
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
}

.box .title {
  font: 24px "Arial", serif;
}

.box .list {
  list-style: square;
}
